name: Test
on:
  push:
    branches:
      - "master"
  pull_request: {}
jobs:
  build:
    name: Build, lint, and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["12", "14", "16"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps and build (with cache)
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install --immutable --silent

      - name: Check types
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: typecheck

      - name: Build
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: build

      - name: Jest run
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: test
